- name: Set hostname
  hostname: 
    name: "{{ubuntu_hostname}}"

- name: Copy vimrc file
  copy:
    src: .vimrc
    dest: ~/.vimrc

- name: Copy bash_aliases file
  copy:
    src: .bash_aliases
    dest: ~/.bash_aliases
  notify:
  - source bashrc

- name: Copy bash_proxy file
  template:
    src: .bash_proxy
    dest: ~/.bash_proxy
  notify:
  - source bashrc

- name: Copy bashrc file
  copy:
    src: .bashrc
    dest: ~/.bashrc
  notify:
  - source bashrc

- name: "Copy environment to set proxy: {{ ubuntu_http_proxy }}"
  template:
    src: environment.j2
    dest: /etc/environment
  notify:
  - source environment
  
- name: "Set system timezone to {{ ubuntu_timezone }}"
  timezone:
    name: "{{ ubuntu_timezone }}"

- name: "Copy NTP conf {{ ubuntu_ntp_server }}  to /etc/ntp.conf"
  template:
    src: ntp.conf.j2
    dest: /etc/ntp.conf
  notify:
  - restart ntpd

- meta: flush_handlers