- name: Install basic packages
  apt:
    name:
      - vim
      - git
      - wget
      - curl
      - nmap
      - rsync
      - traceroute
      - ntp
      - net-tools
      - unzip
      - default-jdk
    update_cache: true
    state: latest
    environment:
      - "{{ ubuntu_http_proxy }}"
      - "{{ ubuntu_https_proxy }}"
ubuntu_https_proxy: 
  register: result