- name: Install basic packages
  apt:
    name:
      - vim
      - git
      - wget
      - curl
      - nmap
      - rsync
      - traceroute
      - ntp
      - net-tools
      - unzip
      - default-jdk
    update_cache: true
    state: false
  environment:
    http_proxy: "{{ ubuntu_http_proxy }}"
    https_proxy: "{{ ubuntu_https_proxy }}"
  register: result