- name: Install basic packages
  apt:
    name:
      - vim
      - git
      - wget
      - curl
      - nmap
      - rsync
      - traceroute
      - ntp
      - net-tools
      - unzip
      - default-jdk
      - docker
    update_cache: true
    state: latest
  register: result