PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
HTTP_PROXY="{{ ubuntu_http_proxy }}"
HTTPS_PROXY="{{ ubuntu_https_proxy }}"
FTP_PROXY="{{ ubuntu_http_proxy }}"
NO_PROXY="127.0.0.1,127.0.1.1,localhost"